body {
  margin: 0 auto;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background-color: rgba(0,0,0,.70); 
  
}



input:focus,
textarea:focus {
    outline: none;
}

a,
nav button {
    text-decoration: none;
    background-color: transparent;
    border: none ;
    color: #ffffff9b;
    transition: .4s;
    font-size: 1em;
    cursor: pointer;
    font-family: "Montserrat", sans-serif;

}

a:hover, 
nav button:hover {
    color: #db0404;
}
/* form {
  max-width: 40%;
  margin: 0 auto;
} */

label {
  display:flex;
  flex-direction: column;
  margin-bottom: 1px;
}

label span {
  margin-bottom: .3em;
  font-size: bold;
  text-align: left;
}

.error {
  color: #721C24;
  background-color: #F8D7DA;
  border: 1px solid #F5C6CB;
  padding: 5px;
  border-radius: 5px;
}